<div class="modal show" id="us-popup-product-preorder-modal" tabindex="-1" role="dialog" aria-labelledby="us-popup-product-preorder" style="display: block;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="us-popup-product-preorder">{{ heading_title }}</h5>
                <button type="button" class="us-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="us-modal-close-icon us-modal-close-left"></span>
                    <span aria-hidden="true" class="us-modal-close-icon us-modal-close-right"></span>
                </button>
            </div>
            <div id="us-popup-product-preorder-main-block" class="modal-body us-modal-body-popup-product-preorder">
                <div class="row">
                    <div class="us-popup-text col-md-6">
                        {% if thumb %}
                            <img src="{{ thumb }}" class="img-responsive" />
                        {% endif %}
                        {% if heading_title_product %}
                            <h3 class="us-popup-h3 blue">{{ heading_title_product }}</h3>
                        {% endif %}
                        {% if price %}
                            <div class="product-price">
                                {% if special %}
                                    <span id="main-price">{{ price }}</span>
                                {% else %}
                                    <span id="special-price">{{ price }}</span>
                                    <span id="main-price" class="prise-old">{{ special }}</span>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if text_promo %}
                            <div class="us-popup-promo-text">{{ text_promo }}</div>
                        {% endif %}
                    </div>
                    <form action="javascript:;" id="us-oct-product-preorder-form" method="post" class="d-flex col-md-6">
                        <div class="us-popup-form-box">
                            {% if oct_product_preorder_data.name %}
                                <div class="form-group-20">
                                    <input type="text" class="form-control" name="name" id="user-name" value="{{ name }}" placeholder="{{ enter_name }}" />
                                </div>
                            {% endif %}
                            {% if oct_product_preorder_data.telephone %}
                                <div class="form-group-20">
                                    <input type="text" class="form-control" name="telephone" id="user-telephone" value="{{ telephone }}" placeholder="{{ enter_telephone }}" />
                                </div>
                            {% if mask %}
                                <script>
                                    var isMobile = {
                                        Android: function() {
                                            return navigator.userAgent.match(/Android/i);
                                        },
                                        BlackBerry: function() {
                                            return navigator.userAgent.match(/BlackBerry/i);
                                        },
                                        iOS: function() {
                                            return navigator.userAgent.match(/iPhone|iPad|iPod/i);
                                        },
                                        Opera: function() {
                                            return navigator.userAgent.match(/Opera Mini/i);
                                        },
                                        Windows: function() {
                                            return navigator.userAgent.match(/IEMobile/i);
                                        },
                                        Chrome: function() {
                                            return navigator.userAgent.match(/Chrome/i);
                                        }
                                    };
                                </script>
                            {% endif %}
                            {% endif %}
                            {% if oct_product_preorder_data.email %}
                                <div class="form-group-20">
                                    <input type="text" class="form-control" name="email" id="user-email" value="{{ email }}" placeholder="{{ enter_email }}" />
                                </div>
                            {% endif %}
                            {% if oct_product_preorder_data.comment %}
                                <div class="form-group-20">
                                    <textarea class="form-control" name="comment" id="user-comment" placeholder="{{ enter_comment }}">{{ comment }}</textarea>
                                </div>
                            {% endif %}
                            {% if text_terms %}
                                <div class="us-form-checkbox-group us-form-checkbox-group-20">
                                    <label for="scales-2" class="d-flex"><span>{{ text_terms }}</span></label>
                                    <input type="checkbox" id="scales-2" class="us-form-checkbox-input" name="terms">
                                </div>
                            {% endif %}
                        </div>
                        <input type="hidden" name="pid" value="{{ href }}">
                        <input type="hidden" name="mid" value="{{ model }}">
                    </form>
                </div>
                <div class="us-popup-buttons-box">
                    <button class="us-module-btn" title="{{ button_send }}" type="button" id="us-popup-send-button">{{ button_send }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% if  mask is defined and mask is not empty %}
<script src="catalog/view/javascript/oct_product_preorder/input-mask.js"></script>
<script>
$('#us-popup-product-preorder-modal input[name="user-telephone"]').inputmask({'mask': mask});
{% endif %}

$("#user-name, #user-telephone, #user-email, #user-comment, #scales-2").on("change paste keyup", function() {
    $(this).removeClass('error_style');
});

{% if error_stock_check is not defined %}
$('#us-popup-send-button').on('click', function() {
    masked('body', false);
    masked('body', true);
    $.ajax({
        type: 'post',
        dataType: 'json',
        url: 'index.php?route=octemplates/module/oct_product_preorder/send',
        data: $('#us-oct-product-preorder-form').serialize(),
        success: function(json) {
            masked('body', false);
            if (json['error']) {
                $('#us-popup-product-preorder-modal .text-danger').remove();
                let errorOption = '';

                $.each(json['error']['field'], function(i, val) {
                    if (val) {
                        $('# [name="' + i + '"]').addClass('error_style');
                        errorOption += '<div class="alert-text-item">' + val + '</div>';
                    }
                });

                usNotify('danger', errorOption);
            } else {
                if (json['success']) {
                    $('.us-module-btn').attr("disabled", "disabled");
                    $("#us-product-preorder-main-block").html(json['success']).removeClass('us-modal-body-popup-product-preorder');
                }
            }
        }
    });
});
{% endif %}
</script>